[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Angular Material hacks */
md-backdrop.md-select-backdrop {
    z-index:103;
}

.md-select-menu-container {
    z-index:104;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}
/* *** end of hacks *** */

.mdi {
    font-size: 24px;
}

/* shakeThat -- begin */
@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 333ms ease-in-out;
}
/* shakeThat -- end */

body {
    font-family: Ubuntu, sans-serif;
    background: radial-gradient(circle, #A3BCC4, #D9E0E2 );
    overflow-y: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
}

.content:before {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.background{
    background-position: center;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.do-not-animate.ng-animate { transition:0s none;
       -webkit-transition:0s none;
       animation: 0s none;
       -webkit-animation: 0s none; }

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}

.title {
    font-weight: bold;
}

.info-text {
    color: #90939A;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    margin: 0;
    line-height: 1.6em;
}

.text-muted {
    color: #90939A;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
}

.space-left {
    margin-left: 5px;
}

.space-around {
    margin-left: 5px;
    margin-right: 5px;
}

